body {
	font-family: sans-serif;
	text-align: center;
}

@font-face {
    font-family: 'AkiraExpanded';
    src: url('./assets/fonts/AkiraExpanded-SuperBold2.otf') format('opentype');
    font-weight: 900; /* Ajusta según el peso de la fuente */
    font-style: normal;
  }

  